/* ----------------------------------

extend_common.css  file for Discuz! X3.0

【未来科技】 
http://www.veikei.com
专注于 Discuz模板开发设计等服务。
详情请 查看 www.veikei.com
或咨询 客服 QQ 1508085698 1595675868

Author: Veikei
Created Time: 2012-09-05
Modified Time: 2012-09-10
Update Time: 2013-10-30

---------------------------------- */




/*************************************************************************
* 
* 公共属性
*
**************************************************************************/
body, input, button, select, textarea { font: {FONTSIZE}{FONT};color: {TABLETEXT};
font-family:"Microsoft yahei", "微软雅黑", Arial, Helvetica, sans-serif, "宋体";}


body { background:#fff  url({STYLEIMGDIR}/bg_body.png) repeat-x center top; }
a { outline: none; }


a:active { star:expression(this.onFocus=this.blur());}
a:hover { color:#f60; text-decoration:none; }
:focus { outline:0; }
img, fieldset { border:0; }
ol, ul, menu { list-style:none; }
td, th, div { word-break:break-all; word-wrap:break-word }
* { outline:none }


/*******************/
#toptb  { height:35px; line-height:25px; border:none;  background: url({STYLEIMGDIR}/bg_toptb.png) repeat-x center top; }
#toptb, #toptb a { color:#333; }

/*
#hd .wp { margin: 0 auto; width:960px; clear:both; }

.vk_wp { margin: 0 auto; margin-bottom:15px; width:960px; clear:both; background:#fff; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; border-radius:0 0 5px 5px; }
*/
#pt { margin-top:0px !important; }


/*******************/

/*.wp { margin: 0 auto; width:960px; clear:both; }
*/
#wp .wp { width: auto; }
#um .avt img { box-shadow:0px 1px 3px #eee; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; padding: 2px; width: 48px; height: 48px; background: #fff; border:1px solid #fff; }

#nv { height: 50px; line-height:50px;   background: url({STYLEIMGDIR}/nv.gif) no-repeat; }
#nv ul { height: 50px; overflow: hidden; }
#nv li { float: left; height: 50px; font-weight:normal; font-size: 14px; background: none; background: none /*url({STYLEIMGDIR}/nv_li.png) no-repeat 100% 0 */; }
.ie_all #nv li { line-height: 50px; }
.ie6 #nv li { line-height: 50px; }
#nv li a { float: left; padding:0 20px; text-align:center; width: auto; height: 50px; display:block; line-height: 50px; color: #fff; font-size:16px; background: none; }
#nv li span { display: none; }
#nv li.a { margin-left:0px; background: url({STYLEIMGDIR}/nv_a.gif) repeat-x; }
#nv li a:hover { color:#fff; text-decoration:none; background: url({STYLEIMGDIR}/nv_a.gif) repeat-x; }
#nv li.hover a:hover, #nv li.hover a { color:#fff; background: url({STYLEIMGDIR}/nv_a.gif) repeat-x; }
#qmenu { margin-top:10px; }

.ct2_a, .ct3_a { background-color:#fff; }


/* color redefine  */
/*
#nv li a ,#nv li.a , #nv li a:hover, #nv li.hover a:hover, #nv li.hover a {  color: #333;  }
*/

body { background: #FFECD7 url({STYLEIMGDIR}/background.jpg); }
.frame { background: none; }
.frame, .frame-tab { background: none; }
.frame-tab .tb-c { padding: 10px 7px; }
.ml li {padding: 0 3px 5px;}
#hd{ background: url({STYLEIMGDIR}/headerbg.png) no-repeat center 137px; }
#nv {background: none;}
#nv li { margin: 9px 0; height: 33px; line-height: 33px;}

#nv li.a { background: #BF5300; }
#qmenu {color: #FF6E00; }
#nv li a{ padding: 0 40px; color: #FF6E00; height: 33px; line-height: 33px; }
#nv li a:hover { background: #F16700; color: #FFF;}
#nv ul{ padding-left: 130px; background: url({STYLEIMGDIR}/navbg.png) no-repeat center; }

#scbar { background: none; }

.xi2, .xi2 a, .xi3 a{ color: #898989; }

.justars-tab .blocktitle, .justars-tab .tab-title{ margin-bottom: 10px;border-bottom: 2px #ff6e01 solid;padding: 0 10px; }
.justars-tab .blocktitle .titletext, .justars-tab .tab-title .tb .a { font-weight: normal; color: #FFF; background: #ff6e01; padding: 2px 10px; }
.justars-tab .tab-title .tb .a a{ color:#FFF; font-weight: normal; }
.justars-tab h3 a{ color: #ff6e01; }
.justars-tab p { color: #898987; }
.justars-tab .tab-title{ background: none; width: 90% important; padding: 0; }
.justars-tab .tb a{ border: none; }
.justars-tab .tb li a{background: #ccc;color: #fff;height: 26px;line-height: 26px;position: relative;top: 6px;}
.justars-tab .tb li.a a{ background: none; height: 32px;line-height: 32px;position: relative;top: 0;}


.clearboth{clear:both;margin-top: 10px !important;margin-bottom:10px !important;}
a{text-decoration:none;color:#444;}
a:hover{text-decoration:underline;color:#0082cb}
.w{width:960px;margin:0 auto}.n{display:none}
.fL{float:left}
.fR{float:right}

.picba{background-color:#9FA0A0;width:960px;overflow:hidden;}
.pic_ba{ line-height:0; height:0;}

#pic-nav{padding:15px 10px;width:900px;margin:0 auto;}
#pic-nav a{/*display:block;*/}
#pic-nav .fR{width:600px;}

.focus-pic {position:relative;}
.focus-pic span{display:none;position:absolute;left:0;bottom:0;height:29px;background-color:#000;background:rgba(44,44,44,0.6);filter:alpha(opacity=60);}
.focus-pic a{display:block;}
.focus-pic a.pic-text {display:none;position:absolute;left:0;bottom:0;height:29px;line-height:29px;padding-left:10px;font-size:14px;font-family:Microsoft YaHei;overflow:hidden;}
.focus-pic a:link{color:#fff}
.focus-pic a:visited{color:#fff}
.focus-pic a:hover{color:#fff}

.pic-1{width:300px;height:300px;z-index:0;}
.pic-1 span {width:300px;}

.pic-2 span {width:300px;}

.pic-3{width:300px;height:150px;}
.pic-3 span{width:300px;}

.pic-4{width:150px;height:150px;}
.pic-4 span{width:150px;}

.pic-5{width:150px;height:150px;}
.pic-5 span{width:150px;}

.pic-6{width:300px;height:150px;}
.pic-6 span{width:300px;}

.pic-7{width:150px;height:150px;}
.pic-7 span{width:150px;}

.pic-8{width:300px;height:150px;}
.pic-8 span{width:300px;}

.pn-t{height:150px;}

.text-o, .text-p, .text-b{width:150px;height:150px;color:white;line-height:150px;text-align:center;font-size:42px;font-weight:bold;display:block;float:left;font-family:Microsoft YaHei;}		
.text-o:hover, .text-p:hover, .text-b:hover{color:#fff;text-decoration:none;}
.text-o{background-color:#EE7101;}
.text-p{background-color:#EE7101;}
.text-b{background-color:#EE7101;}

.picture-block{
	width:230px;height:auto; 
	box-shadow:1px 1px 1px #ccc;
	border:1px solid #cdcdcf;
	float:left;background:#FFF;
	margin-left:4px;margin-right:4px
}
